<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ContactUsForm" verbose="1" parallel="methods" thread-count="7" >
    <test name="ContactUsForm-Chrome" >
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.valeer.test.ui.tests.ContactUs" />
        </classes>
    </test>

    <test name="ContactUsForm-Firefox" >
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.valeer.test.ui.tests.ContactUs" />
        </classes>
    </test>

</suite>
